@charset 'utf-8';

.menu-list {
    list-style: none;
    padding: 0;
}
.menu-list {
    width: 500px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-list li {
    width: calc(100% / 3);
    height: 100%;
    background: purple;
    line-height: 35px;
    cursor: pointer;
    color: #fff;
}