@charset "UTF-8";

.container {
    width: 500px;
    margin: 100px auto;
    text-align: center;
}

.container h1 {
    font-size: 36px;
    letter-spacing: 8px;
    text-shadow: 2px 2px 3px gray;
}

.countdown-box {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    margin-top: 50px;
}
.countdown-item {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.countdown-item .time-item {
    width:  60px;
    height: 60px;
    margin-bottom: 15px;
    font: normal bolder 28px '微软雅黑';
    color: #fff;
    background: rgb(246, 89, 94);

    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.countdown-item p {
    letter-spacing: 2px;
    font-size: 14px;
}
