@charset "UTF-8";

.container {
    width: 500px;
    margin: 50px auto;
}

.container .title {
    border-bottom: 1px solid #000;
    font: 26px/100px times new roman;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px #eee;
    text-align: center;
}

.container .content {
    width: 60%;
    margin: 50px auto;
}

.container .page .ipt-box {
    margin: 15px 0;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    align-content: center;
}

.container .page .ipt-box span {
    width: 20%;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
}

.container .page .ipt-box input {
    width: 80%;
    height: 35px;
    outline: none;
    border-radius: 5px;
    padding-left: 8px;
}

.container .page .ipt-box input:focus {
    border: none;
    box-shadow: 0px 0px 3px 2px #d3d3d3 inset;
}
.container .page .tips-box {
    width: 80%;
    margin-left: 20%;
    font-size: 12px;
}

.container .page  #go-register-btn {
    float: right;
}

.container .page  .btn {
    width: 80%;
    height: 40px;
    margin: 20px 0 0 20%;
    background: #000;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 3px;
    cursor: pointer;
}
.container .page a { color: #000;}
.container .page a:hover { text-decoration: underline;}
